body{
    background-color: #011F3F;
    text-align: center;
}
#level-title{
    font-family: 'Roboto', sans-serif;
    color: #FEF2BF;
    font-size: 3rem;
    margin: 5%;
}

.container{
    display: block;
    width: 50%;
    margin: auto;
}

.btn{
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 15px;
    border: 10px solid gray;
    border-radius: 20px;
    cursor: pointer;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }

.green{
    background-color: green;
}
.red{
    background-color: red;
}
.yellow{
    background-color: gold;
}
.blue{
    background-color: blueviolet;
}

.gameOver{
    background-color: red;
    opacity: 0.6;
}

#startbtn{
    margin-top: 30px;
    padding: 10px 20px;
    background-color: coral;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    color: cornsilk;
}
